<div class="navigation">
  <ul>
    <li><a [routerLinkActive]="'active'" [routerLink]="'/'">Home</a></li>
    <li><a [routerLinkActive]="'active'" [routerLink]="'/experts'">Experts</a></li>
    <li><a [routerLinkActive]="'active'" [routerLink]="'/books'">Books</a></li>
  </ul>
</div>

<div class="content experts">
  <h1>Experts</h1>
  <ng-container *ngFor="let expert of experts; let i = index">
    <ng-container *ngIf="i < 8">
      <div class="box">
        <h2 class="title">{{convertName(expert)}}</h2>
      </div>
    </ng-container>
  </ng-container>
</div>

<div class="content books">
  <h1>Books</h1>
  <ng-container *ngFor="let book of books; let i = index">
    <ng-container *ngIf="i < 8">
      <div class="box">
        {{book}}
      </div>
    </ng-container>
  </ng-container>
</div>

<!-- <ng-container *ngFor="let recommender of recommenders">

  <button [ngClass]="{'selected': isSelected(recommender)}" (click)="select(recommender)">{{recommender}}</button><br />
</ng-container>

<div class="sorted">Sorted books
  <ng-container *ngFor="let book of sortedBooks">
    {{book.title}} ({{book.recommenders.length}})<br />
    <ng-container *ngFor="let recommender of book.recommenders">
      {{recommender}},
    </ng-container>
    <br /><br />
  </ng-container>
</div> -->

<router-outlet></router-outlet>