.navigation {
    width: 800px;
    margin: 20px auto;

    ul {
        display: flex;
    }

    li {
        color: #111;
        text-decoration: none;
        margin: 0 10px;

        &:first-child {
            margin-left: 0;
        }

        a {
            color: #111;
            text-decoration: none;
            &.active {
                color: grey;
            }
        }
    }
}

.sorted {
    display: block;
}

.selected {
    color: blue;
}

.title {
    text-transform: capitalize;
}

.experts{
    img{
        width:100%;
    }
}

button {
    cursor: pointer;
    background: none;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
}
