<div class="content experts" *ngIf="!generated">
  <h1>Choose Experts</h1>
  <ng-container *ngFor="let expert of experts; let i = index">
    <div class="box" [ngClass]="{'selected': isSelected(expert)}" (click)="select(expert)">
      <img src="../assets/experts/{{expert}}.jpg" />
      <div class="bg">
        <h2 class="title">{{convertName(expert)}}</h2>
      </div>
    </div>
  </ng-container>
</div>

<button (click)="setSelectedBooks()" *ngIf="(selectedExperts.length>0) && !generated">Generate list</button>
<button (click)="chooseExperts()" *ngIf="generated">Choose experts</button>

<div class="content sorted" *ngIf="generated">
  Boook recommendations by:<br />
  <div class="recommenders">
    <ng-container *ngFor="let expert of selectedExperts">
      <div class="recommender">
        <p class="title">{{convertName(expert)}}</p>
        <img src="../assets/experts/{{expert}}.jpg" />
      </div>
    </ng-container>
  </div>
  <ng-container *ngFor="let book of sortedBooks">
    <span class="bold">{{book.title}}</span> <br />
    Recommended by ({{book.recommenders?.length}}):
    <ng-container *ngFor="let recommender of book.recommenders">
      <p class="title">{{convertName(recommender)}}</p>
    </ng-container>
    <br /><br />
  </ng-container>
</div>

<ng-container *ngIf="false">
  <div class="navigation">
    <ul>
      <li><a [routerLink]="'/'">Home</a></li>
      <li><a [routerLinkActive]="'active'" [routerLink]="'/experts'">Experts</a></li>
      <li><a [routerLinkActive]="'active'" [routerLink]="'/books'">Books</a></li>
    </ul>
  </div>
</ng-container>
<router-outlet></router-outlet>