.navigation {
    width: 800px;
    margin: 20px auto;

    ul {
        display: flex;
    }

    li {
        color: #111;
        text-decoration: none;
        margin: 0 10px;

        &:first-child {
            margin-left: 0;
        }

        a {
            color: #111;
            text-decoration: none;
            &.active {
                color: grey;
            }
        }
    }
}

.selected {
    color: blue;
}
